.ion-text-start {
    width: 300px;
    
}
.title {
    padding-left: 20px;
    font-weight: 500;
    font-size: larger;
}

.anchor {
    float: right;
    padding-right: 20px;
    // background-color: whitesmoke;
    width: 70px;
    cursor: pointer;
    font-size: small;
}